<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundoo Notes</title>
   <style>
<!--    body {-->
<!--        background-color: rgb(20, 40, 60);-->
<!--        color: rgb(240, 248, 255);-->
<!--        font-family: "Helvetica", "Arial", sans-serif;-->
<!--        font-size: 1.3em;-->
<!--        border: 1px solid red;-->
<!--    }-->
    </style>
</head>
<body>
<div class="maindiv" >
    <header class="header">
        <h1 class="content">Fundoo Notes Login</h1>
    </header>
    <form class="login" method="post">
        <div class="login_details">
            <label class="label" for="username">Username</label>
            <input class="input" type="text" id="username" name="username" placeholder="Enter Username" required>
        </div>
        <div style="margin-top: 10px" class="login_details">
            <label class="label" for="password">password</label>
            <input class="input" type="password" id="password" name="password" placeholder="Enter Password" required>
        </div>
        <div style="margin-top: 5px" class="buttons">
            <button class="button"><a href="/register">SignUp</a></button>
            <button class="button" type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>